config CRB_TPM
	bool
	help
	  CRB TPM driver is enabled!

config CRB_TPM_BASE_ADDRESS
	hex
	default 0xfed40000
	help
	  Base Address of the CRB TPM Command Structure

config MAINBOARD_HAS_CRB_TPM
	bool
	default n
	select CRB_TPM
	help
	  Mainboard has Command Response Buffer support

config CRB_TPM_BUFFER_ALLOC
	bool
	default n
	help
	  Allocate and reserve memory for the CRB command/response buffer

config CRB_TPM_BUFFER_SIZE
	hex
	default 0x8000
	help
	  Allocation size for the CRB command/response buffer

config CRB_TPM_ACPI_START_METHOD
	bool
	default n
	help
	  Use TPM2 ACPI Start Method
