CONFIG_LOCALVERSION="r"
CONFIG_ANY_TOOLCHAIN=y
# CONFIG_COMPRESS_PRERAM_STAGES is not set
CONFIG_VENDOR_TURBO=y
CONFIG_COREBOOT_ROMSIZE_KB_9216=y
CONFIG_JUMP_TO_KERNEL=y
CONFIG_TRAV_UFS=y
CONFIG_TRAV_UFS_CONFIGURE_DEVICE_LUN=y
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_3=y
CONFIG_PAYLOAD_NONE=y
