CONFIG_LOCALVERSION="x"
# CONFIG_COMPRESS_PRERAM_STAGES is not set
CONFIG_ANY_TOOLCHAIN=y
CONFIG_VENDOR_TURBO=y
CONFIG_COREBOOT_ROMSIZE_KB_12288=y
CONFIG_BOOTBLOCK_X=y
CONFIG_JUMP_TO_KERNEL=y
CONFIG_TRAV_UFS=y
# CONFIG_USE_BLK_TRIP0 is not set
# CONFIG_USE_BLK_TRIP1 is not set
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_3=y
CONFIG_PAYLOAD_NONE=y
